*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
}
.s1{
    height: 1500px;
}
.container{
    width: 80%;
    margin: auto;
}
.active{
    font-weight: bold;
}
body{
    background-color: #FFE715;
}
nav{
    width: 100%;
    padding: 50px 0;
}
ul{
    text-align: center;
}
ul li{
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color: #101920;
    margin: 0 74px;
}
.main p{
    font-size: 112px;
    text-align: center;
    margin-top: 200px;
}
.main a{
    text-decoration: none;
    color: #101920;
}



.song{
    margin-top: 150px;
    overflow: hidden;
}
.image{
    position: relative;
    left: 41%;
}
.song .image img{
    width: 250px;
    height: 250px;
}
.title{
    text-align: center;
}
.title p{
    font-size: 24px;
}
.title img{
    position: relative;
    top: 9px;
    margin: 0 20px;
}
.title .img1{
    transform: rotate(90deg);
}
.title .img2{
    transform: rotate(-90deg);
}




.profile img{
    display: block;
    margin: auto;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.row{
    display: flex;
}
.kiri,.kanan{
    flex: 50%;
    margin: 0 20px;
}
.kiri{
    text-align: right;
}